.NavBar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    50deg,
    rgb(93, 152, 219) 50%,
    rgb(186, 209, 234) 75%,
    rgb(93, 152, 219)
  );
}
.Home {
  color: black;
}
.LogoutBtn {
  font-family: " Kolker Brush ", cursive;
}
